body{
    background-color: #735DA5;
    font-family: Arial;
    font-size: 14px;
    color: white;
    max-width: 600px;
    margin: auto;
    padding: 20px;
}

form {
    display: flex;
    gap: 10px;
    flex-direction: column;
    margin-bottom: 20px;
}


input, button, select {
    padding: 8px;
    font-size: 14px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: center;
}

summary {
    display: flex;
    flex-direction: column;
}
